main {
  margin-top: 56px;
}

.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
}

.center-align {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
}

.hero-1 {
  /* background: url('https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=700'); */
  background: purple;
  color: white;
}

.icons > img {
  width: 75px;
  height: 75px;
  margin: 0 1rem;
}
