.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  min-height: 100vh;
  padding: 0 3.5rem;
}

.center-align {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
}

.hero-1 {
  /* background: url('https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=700'); */
  background: purple;
  color: white;
}

.icons > img {
  width: 4.7rem;
  height: 4.7rem;
  margin: 0 1rem;
}

.hero-2 {
  background: pink;
}

.hero-2 .row,
.hero-3 .row {
  padding-top: 6rem;
}

.hero-2 .card {
  width: 21rem;
  height: 29rem;
}
.hero-2 img {
  display: block;
  margin: auto;
  width: 12.5rem;
  height: 12.5rem;
}

.hero-2 .card-large {
  transform: scale(1.05);
}

.hero-3 {
  background: rgba(89, 212, 144, 0.925);
}

.hero-3 .card {
  max-width: 16rem;
  height: 28rem;
}

.hero-3-img {
  width: 250px;
  height: 200px;
}

.icon-small {
  width: 1rem;
  height: 1rem;
}

.hero-3 span {
  position: absolute;
  right: 20px;
  bottom: 13px;
}

.hero-4 .margin-lg {
  padding-top: 2rem;
}

.hero-4 {
  background: rgb(87, 185, 224);
}

.hero-4 h2 {
  font-size: 2rem;
}

.hero-4 .fa-ul {
  height: 100%;
}

.hero-4 li {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.hero-4 .btn-purple {
  background: purple;
}
