.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  padding: 0 3.5rem;
}

.center-align {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
}

.hero-1 {
  /* background: url('https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=700'); */
  background: purple;
  color: white;
}

.icons > img {
  width: 4.7rem;
  height: 4.7rem;
  margin: 0 1rem;
}

.hero-2 {
  background: pink;
}

.hero-2 .row {
  padding-top: 6rem;
}

.hero-2 .card {
  width: 21rem;
  height: 29rem;
}
.hero-2 img {
  display: block;
  margin: auto;
  width: 12.5rem;
  height: 12.5rem;
}

.hero-2 .card-large {
  transform: scale(1.05);
}
